



/*全体*/
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
body{
    font-family: 'Sawarabi Mincho', sans-serif;
}



.parent {
    height: 1500px;
    line-height: 1.7;
    text-align: top;
    margin-top: 130px;
    background-color:white;
    display: flex;
    justify-content: space-between;
}
.child1 {
    margin: 8px;
    padding: 8px;
    line-height: 1.7;
    text-align: center;
    width: 300px;
    background-color: white;

    border: 1px solid; /* 線の太さと可視化 */
}
.child2 {
    margin: 8px;
    padding: 2em;
    line-height: 1.7;
    text-align: center;
    width: 600px;
    background-color: white;

    border: 1px solid; /* 線の太さと可視化 */
    border-color: gray;
}
.child3 {
    margin: 8px;
    padding: 8px;
    line-height: 1.7;
    text-align: center;
    width: 300px;
    background-color: white;

    border: 1px solid; /* 線の太さと可視化 */
}



/*題名*/
h1.daimei{
    position: fixed;
    text-align: center;
    margin-top: -10px;
    color: rgba(224,66,114,0.6);
    font-size: 80px;
    font-weight: 400;
    font-family: luxus-brut, cursive;
    font-family: 'Kaushan Script', cursive;
    z-index: 2;
    background-color: #f4f4f4;
    width: 1450px;
}



/*ハンバーガーボタン*/
header {
    position: fixed;
    padding: 16px;
    width: 30px;
    text-align: center;
    background: rgba(224,66,114);
    z-index: 3;
}

.h-menu{
position: relative;
}

/*inputのcheckboxは非表示に*/
.h-menuCheckbox {
display:none;
}

/*ハンバーガーメニュー*/
.h-menu_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/*3本線*/
.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 100;
    top:0;
    bottom:0;
    width: 32px;
    height: 3px;
    background: white;
    cursor: pointer;
}
.hamburger-icon:before {
    top: 10px;
}
.hamburger-icon:after {
    top: 20px;
}

/*メニュー以外を暗くする*/
#h-menu_black {
    display: none;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    opacity: 0;
    transition: .7s ease-in-out;
}

/*中身*/
#h-menu_content {
    position: fixed;
    top: 0;
    left: -20px;
    z-index: 999;
    width: 150px;
    max-width: 320px;
    height: 100vh;
    padding: 53px 16px 16px;
    background: rgba(224,66,114);
    overflow: auto;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

/*チェックボックスにチェックが入ったら表示*/
input:checked ~ .h-menu_icon .hamburger-icon{
    background: transparent;
}
input:checked ~ .h-menu_icon .hamburger-icon::before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top:10px;
    z-index:99;
}
input:checked ~ .h-menu_icon .hamburger-icon::after{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top:10px;
    z-index:99;
}
input:checked ~ #h-menu_black {
    display: block;/*カバーを表示*/
    opacity: .8;
}
#h-menu_checkbox:checked ~ #h-menu_content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.h-menu_icon .hamburger-icon, .h-menu_icon .hamburger-icon::before, .h-menu_icon .hamburger-icon::after, #h-menu_black, #h-menu_content{
    -webkit-transition: all .3s ;
    transition: all .3s ;}

#h-menu_content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#h-menu_content ul li{
    border-bottom: solid 1px white;
}
#h-menu_content li a {
    display: block;
    color: white;
    font-size: 14px;
    padding: 24px;
    text-decoration: none;
    transition-duration: 0.2s;
}
#h-menu_content li a:hover {
    width: 150px;
    background: #455b6d;
}

    



/*「ログアウト」ボタン
端からの距離(位置)を「ホーム」と揃えたい*/
p.logout{
    position: relative;
    text-align: right;
    padding-top: 7%;
    margin: 100px;
}



/*各フォームのタイトル*/
h2{
    padding: 1rem 2rem;
    background: #f4f4f4;
    text-align:left;
}



.form{
    margin-top: 0;
}
  

/*フォームのテキストボックス*/
.fo-mu{
    margin-top: 2em;
    text-align:left;
}


/*フォームのボタン*/
.botan{
    border: thin solid #000;
    border-radius: 0;
    background: #fff;
}
.botan:hover{
    color: #fff;
    background: #000;
}


/*投稿一覧の直前の線*/
hr.kugiri{
    border-width: 3px 0 0 0;
    border-style: double;
    border-color:black;
}


/*投稿一覧*/
h3{
    position: relative;
    display: inline-block;
    padding: 0 2em;
    text-align: center;
    margin-bottom: 4em;
}
h3:before,
h3:after {
    font-family: 'Font Awesome 5 Free';
    line-height: 1;
    position: absolute;
    top: calc(50% - .5em);
    color: black;
}
h3:before {
    left: 0;
    content: '\f101';
} 
h3:after {
    right: 0;
    content: '\f100';
}
